<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tituloSitio"> Adivina el animal </ion-title>
    <ion-title class="ion-text-end puntos">
      Puntos: {{puntosTotales}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item>
      <ion-label>Selecciona un animal:</ion-label>
      <ion-select
        [(ngModel)]="animalUsuario"
        aria-label="Selecciona a un animal"
      >
        <ion-select-option *ngFor="let animal of listaAnimales" [value]="animal"
          >{{ animal }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adivina el animal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <p class="imgTitulo">
      Selecciona uno de los animales que te presentamos a continuación. (usa la
      lista de animales para ayudarte)
    </p>

    <figure>
      <img
        src="https://img.freepik.com/vector-gratis/conjunto-animales-salvajes_1308-29055.jpg?w=1380&t=st=1697705369~exp=1697705969~hmac=c61d537bfb1fa4fab889860ce80d20111ae9f40f359224bbfba3d7f86c7310ee"
      />
      <!-- Dependiendo de las dimensiones de la pantalla, la descripción de la imagen desaparecerá -->
      <figcaption class="descFoto">Animales disponibles</figcaption>
    </figure>
    <div class="mensajeUser">
      <p>{{mensajeParaUser}}</p>
    </div>

    <ion-item>
      <ion-input
        label="Introduce un animal"
        type="text"
        placeholder="Ej: Perro"
        labelPlacement="floating"
        [(ngModel)]="animalUsuario"
      ></ion-input>
    </ion-item>
      <ion-button
        size="small"
        color="secondary"
        *ngIf="esCorrecto==false"
        (click)="comprobarAnimal()"
        >Comprobar animal</ion-button
      >
      <!-- Elegimos el botón anterior como el elemento a duplicar. Solo se verá en la vista landscape, no tiene funcionalidad añadida y si se acierta el animal, desaparece -->
      <ion-button
        size="small"
        color="secondary"
        *ngIf="esCorrecto==false"
        class="elementoDuplicado"
        >Botón misterioso</ion-button
      >
      <!-- Este botón vuelve a generar otro animal aleatorio, para continuar con el juego -->
      <ion-button
        size="small"
        color="secondary"
        *ngIf="esCorrecto==true"
        (click)="reiniciar()"
        >Continuar</ion-button
      >
      <!-- Este botón simula el final de la partida -->
      <ion-button
        size="small"
        color="secondary"
        *ngIf="esCorrecto==true"
        (click)="reiniciarPuntos()"
        >Terminar</ion-button
      >
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="footer"
      >&#64;copyright - Todos los derechos reservados</ion-title
    >
  </ion-toolbar>
</ion-footer>
