// Estilo definido para el titulo
.tituloSitio{
  font-size:20px;
  margin-top:10px;
  text-align: center;
}

// Estilo definido para la zona de puntuación
.puntos{
    font-size: 18px;
    color: goldenrod;
    font-weight: bold;
    margin-bottom: 10px;
}

// Estilo definido para el footer
.footer{
  font-size: 12px;
  text-align: center;
}

#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Estilos generales para los elementos dentro de #container
  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  .imgTitulo{
    margin-top: 15px;
  }

  figure {
    width: 100%;
    max-width: 450px;
    margin: 20px;

    img {
      width: 100%;
      border-radius: 10px;
    }
    .descFoto {
      margin-top: 6px;
    }
  }

  .mensajeUser {
    margin-top: 15px;

    p {
      color: #141414;
      font-weight: bold;
    }
  }

  ion-item {
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  ion-button {
    margin-top: 10px;
  }
}

// Estilo para pantalla pequeña
@media (max-width: 767px) {
  ion-content {
    --background: rgba(211, 236, 205, 0.753);
  }

  figure {
    width: 65%;

    .descFoto {
      display: none;
    }
  }

  .imgTitulo {
    display: none;
  }

  .tituloSitio{
    font-size:16px;
  }
  .puntos{
    font-size: 14px;
  }
  ion-button{
    
    --border-radius:20px;
    font-weight: bold;
  }
}

// Estilo para una pantalla de tamaño mediano
@media (min-width: 768px) and (max-width: 991px) {
  ion-content {
    --background: rgb(255, 217, 146);
  }
  .imgTitulo{
    font-weight: bold;
  }

  figure {
    width: 80%;
  }
  .tituloSitio{
    font-size: 18px;
    font-weight: bold;
  }
  .puntos{
    font-size: 16px;
    color:blue
  }
}

// Estilo para una pantalla de tamaño grande (fullscreen)
@media (min-width: 992px) {
  ion-content {
    --background: rgb(117, 156, 182);
  }
  figure {
    width: 100%;
  }
  .tituloSitio{
    font-size: 20px;
    font-weight: bold;
  }
  .puntos{
    font-size: 18px;
    color:rgb(255, 0, 0)
  }
}

// Orientación de pantalla portrait. Hasta que no cambiemos de orientación, no se mostrará el botón duplicado
@media(orientation:portrait){
  .elementoDuplicado{
    display:none;
  }
}
